name: poly_widgets
author: Erlantz Oniga
version: 0.1.1
description: A sample web application
environment:
  sdk: '>=1.0.0 <2.0.0'
dependencies:
  browser: any
  logging: any
  polymer: any
  uuid: any
dev_dependencies:
  polymer_elements: any
  polymer_ui_elements: any
