name: poly_widgets
version: 0.2.6+1
author: Erlantz Oniga
description: A sample web application
environment:
  sdk: '>=1.0.0 <2.0.0'
dependencies:
  browser: any
  logging: any
  polymer: '>0.9.3'
dev_dependencies:
  polymer_elements: any
  polymer_ui_elements: any
